*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
#nav-container{
    position: relative;
    justify-content: space-between;
    display: flex;
    height: 8vh;
    align-items: center;
}
#namelogo-container{
    display: flex;
    align-items: center;
    padding: 10px;
}
#bars{
    padding: 15px;
}
#intro{
    width: 80vw;
    margin: 0 auto;
}
#h1{
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}
#signup{
    margin-top: 20px;
    background-color: #8854c0;
    padding: 25px;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
}
#login{
    margin-top: 20px;
    background-color: #f2f2f2;
    padding: 25px;
    color: #8854c0;
    cursor: pointer;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
}
#home-link, #signup-link{
    text-decoration: none;
}